.sidenavigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 24px;

    i {
      display: block;
      width: 60px;
      height: 60px;
      background-color: $accent-1-20;
      border-radius: 50%;
      position: relative;
      font-size: 22px;
      position: relative;
      z-index: 2;

      transition: box-shadow 0.2s, background-color 0.2s;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h5 {
      color: $primary-80;
      transition: color 0.2s;
      background-color: #fbfbfb;
      padding: 0 12px;
      z-index: 2;
    }

    &:after {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      right: 0;
      top: 50%;
      background-color: $primary;
      z-index: 1;
      transition: width 0.2s;
    }

    &.active {
      h5 {
        color: $primary;
        font-weight: 600;
      }

      i {
        background-color: $accent-1-40;
        box-shadow: inset 0px 0px 0px 4px $accent-1;
      }
    }
  }

  @media screen and (max-width: 767px) {
    position: fixed;
    left: 0;
    right: 0;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.14);
    z-index: 1; 

    a {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 14px 10px;

      i {
        width: 44px;
        height: 44px;
        font-size: 15px;
        z-index: 2;
      }

      h5 {
        font-size: 12px;
      }

      flex-direction: column;
      align-items: center;

    }
  }
}